*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.timer{
    display: grid;
    align-content: center;
    justify-content: center;
    height: 60vh;
   
}
.projeto{
    background-color: grey;
    padding: 30px;
}

.btn{
    padding: 10px;
    margin-top: 15px;
    margin-left: 12px;
    width: 80px;
}
.tempo{
 font-size: 40px;
 font-weight: bold;
 margin-left: 34%;
}