*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: black;
}
.timer{
    display: grid;
    align-content: center;
    justify-content: center;
    height: 60vh;
   
}
.projeto{
    background-color: grey;
    padding: 30px;
    
}

.btn{
    
    padding: 10px;
    margin-top: 15px;
    margin-left: 12px;
    width: 80px;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
}
.btn:hover{
    border-color: black;
}
.tempo{
    display: flex;
    justify-content: center;
 font-size: 40px;
 font-weight: bold;
 color: whitesmoke;
}
.parar{
    background-color: red;
    color: white;
    font-weight: bold;
}
.parar:hover{
    background: darkred;  
}

.iniciar{
    background-color: green;
    color: white;
    font-weight: bold;
}
.iniciar:hover{
    background-color: darkgreen;
}
.zerar{
    background-color: orange;
    color: white;
    font-weight: bold;
}
.zerar:hover{
    background-color: darkorange;
}

@media (max-width: 450px) {
    .timer{
        height: 80vh;
    }
    .projeto{
        padding: 15px;
        
    }
    .btn{
        display: flex;
        margin-left: 25%;
    
    }
    .tempo{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
       
    }
}